<form [formGroup]="dynamicFormGroup">
        <div>{{ customFields | json }}</div>
    <div *ngFor="let field of customFields">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <app-dynamic-field [field]="field" />
            </div>
        
            <div class="col-12 md:col-2">
              <!-- <app-dynamic-dropdown [fieldType]="field['type']" (onChanged)="field['type'] = $event" /> -->
            </div>
        
            <div class="col-12 md:col-2">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text p-button-lg"
                (click)="removeField(field)"
              ></button>
            </div>
          </div>
    </div>
    <!-- <button
    pButton
    type="button"
    label="Add field"
    icon="pi pi-plus"
    iconPos="left"
    class="p-button-text p-0"
    (click)="addField()"
  ></button> -->
</form>
