/* You can add global styles to this file, and also import other style files */
@import "assets/themes/theme.css";

html {
    padding: 48px 120px 0px 120px;
    background-color: #F5F6F8;
}

$fontFamily: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";